.modalWindowContacts{
    display: none;
    background: rgb(109, 109, 109,0.4) ;
    position: fixed;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    z-index: 99;
    width: 100%;
    height: 100%;
}

.modalWindowContactsConteiner{
    display: flex;
    flex-direction: column;
    width: 700px;
    background: white;
    justify-content: center;
    align-items: center;
}

.btnModalWindowContactsClose{
    width: 100px;
    height: 50px;
    background: black;
    color: white;
}
.btnModalWindowContactsClose:hover{
    background: rgb(53, 53, 53);
}
