.modalWindowContacts{
    display: none;
    background: rgb(109, 109, 109,0.4) ;
    position: fixed;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    z-index: 99;
    width: 100%;
    height: 100%;
}

.modalWindowContactsConteiner{
    display: flex;
    flex-direction: column;
    width: 500px;
    background: white;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.btnModalWindowContactsClose{
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    width: 150px;
    height: 75px;
    background: black;
    color: white;
}
.btnModalWindowContactsClose:hover{
    background: rgb(53, 53, 53);
}
.modalWindowContactsConteiner{
    display: flex;
    padding: 20px 0 20px 0;

}

.windowContactsTitle{
    padding-right: 20px;
}

.windowContactsBody{
    padding-left: 30px;
}

.btnContactsClose{
    padding: 20px 0 0 0;
    
}

.windowContactsTitle ul li{
    margin-bottom: 10px;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
}

.windowContactsBody ul li{
    margin-bottom: 10px;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
}

.mSetting{
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    z-index: 95;
    width: 100%;
    height: 100%;
}

.mSettingConteiner{
    flex-direction: column;
    width: 500px;
    background: white;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.temeTitle{
    padding-right: 50px;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}

.temeTitle ul li{
    padding-bottom: 30px;
    padding-top: 30px;
}



.temeBtns{
    font-family: 'Oswald', sans-serif;
    padding-left: 50px;
}

.temeBtns ul li button{
    /* font-family: 'Oswald', sans-serif; */
    color: white;
    font-size: 20px;
    margin: 20px 0 20px 0;
    width: 125px;
    height: 50px;
    background: brown;
}

.btnCloseSet{
    padding-top: 20px;
}

.buttonSettingClose{
    font-family: 'Oswald', sans-serif;
    width: 150px;
    font-size: 25px;
    height: 75px;
    background: black;
    color: white;
}

/* .btnModalWindowContactsClose:hover{
    background: rgb(53, 53, 53);
} */