
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');



.conteiner{
    position: absolute;
    display: flex;
    width:100%;
    flex-direction: column;
    background: url(../img/2.jpg) 0 0/100% auto no-repeat;
}

.head{
    background:  rgb(46, 46, 46,0.5);
    justify-content: center;
    opacity: 0.9;
    display: flex;
    
    /* height: 100px; */
    /* background-color: rgb(62, 127, 189); */
}

.btnHead{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    height: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 5px;
}

.btnHead:hover{
    background: rgb(153, 152, 152);
    color: white;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow:  0 0 10px  black;
    height: 250px;
    width: 250px;
    margin-left: 80px;
    margin-right: 80px;
}

.itemConteiner{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 100px 0 100px 0;

}

.footer{
    height: 300px;
    
}

#denmark{
    background: url(../img/Danmark.jpg) 0 0/auto 100% no-repeat;
}

#sweden{
    background: url(../img/sweden.jpg) 0 0/auto 100% no-repeat;
}

#irlandia{
    background: url(../img/irlandija.jpg) 0 0/100% 100% no-repeat ;
}

.btnGo{
    height: 40px;
    width: 150px;
    color: white;
    background: brown;
    border-radius: 5px;
    opacity: 0.9;
}

.btnGo:hover {
    background: rgb(95, 15, 15);
}

.shapka{
    display: flex;
    justify-content: center;
    color: rgb(199, 199, 199);
    background:  rgb(46, 46, 46,0.5);
}

.text{
    
    display: flex;
    padding-top: 25px;
    padding-bottom: 15px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    flex-direction: row;
}

.titles{
    padding-right: 250px;
}

.hamburger-menu{
    font-family:'Oswald', sans-serif;
    margin: 0 0 0 auto;
    display: none;
    flex-direction: column;
}

.menu__box{
    /* position: fixed; */
    display: none;
    padding: 5px 0 5px 0;
    
}

.btnMenu{
    background: white;
    align-items: center;
    text-transform: uppercase;
    font-size: 40px;
    display: none;
    height: 100px;
    width: 180px;
    padding-left: 30px;
}

.btnMenu:hover{
    background: rgb(207, 207, 207);
}

.menu__box li{
    
    margin: 10px 0 10px 0;
    /* border-top: 1px solid white; */
    border-bottom: 1px solid white;
}

.menu__box li a{
    color: white;
    font-size: 20px;
    font-family:'Oswald', sans-serif;
}



